
@{
    ViewBag.Title = "Create Achievable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Achievables", "Index", "Achievables")</li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
</div>

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row c-box--medium">
    <form class="form">
        <div class="form-group row">
            <div class="col-md-2">
                <label for="achievableName" class="col-form-label u-no-gutter">Achievable</label>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-sm" id="achievableName" placeholder="Name" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="achievableTypeSelect" class="col-form-label u-no-gutter">Type</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm js-achievables-types-filter" name="achievableTypeSelect" style="width: 100%">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("My Type is not defined", "Create", "Types", null, new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="achievableDescription" class="col-form-label u-no-gutter">Description</label>
                </div>
                <div class="col-md-3">
                    <textarea class="form-control input-sm" name="achievableDescriptionText" style="width: 100%" cols="40" rows="4"></textarea>
                </div>
            </div>
</form>
</div>

<div class="col-md-5 c-box--medium">
    <div class="btn-group pull-right">
        @Html.ActionLink("Back", "Index", "Achievables", null, new { @class = "btn btn-sm btn-default" })
        @Html.ActionLink("Create Achievable", "Index", "Achievables", null, new { @class = "btn btn-sm btn-primary" })
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            global.achievables.create.init('.js-achievables-types-filter');
        });
    </script>
}